<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User page</title>
</head>
<body>
<div>
    <form th:action="@{/logout}" method="POST">
        <input type="submit" value="Выйти"/>
    </form>
    <br/>
    <h1><b>Id= </b><b th:text="${user.id}"></b></h1>
    <h1><b>Name= </b><b th:text="${user.name}"></b></h1>
    <h1><b>LastName= </b><b th:text="${user.lastName}"></b></h1>
    <h1><b>Age= </b><b th:text="${user.age}"></b></h1>
    <h1><b>username= </b><b th:text="${user.username}"></b></h1>
    <h1><b>password= </b><b th:text="${user.password}"></b></h1>
    <br/>
</div>
</body>
</html>